.admin--header {
  font-size: 3em;
  color: color(primary);
  text-align: center;
}

#admin--text {
  width: 80%;
  margin-bottom: 25px;
}
.admin--text {
  font-size: 1.8em;
  text-align: justify;
  margin: 10px 0;
}

// Form CSS

$form-width: 80%;
$form-background: none;
$form-primary-color: color(primary);
$form-secondary-color: color(accent);
$form-padding: 40px;
$form-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
$form-border-radius: 20px 5px;

$input-border-bottom: 2px solid $form-secondary-color;

#form--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form--container {
  box-sizing: border-box;
  border-radius: $form-border-radius;
  padding: $form-padding;
  width: $form-width;
  background: $form-background;
  box-shadow: $form-shadow;
  margin-bottom: 25px;

  .form--heading {
    text-align: center;
    margin: 0 0 30px;
    padding: 0;
    color: $form-primary-color;
  }

  input[type="submit"] {
    background: transparent;
    border: none;
    outline: none;
    color: $form-primary-color;
    background-color: $form-secondary-color;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
}

.form--input-container {
  position: relative;

  input,
  textarea {
    width: 100%;
    margin-bottom: 30px;
    // padding: 10px 0 0 0;
    font-size: 14px;
    color: $form-primary-color;
    border: none;
    border-bottom: $input-border-bottom;
    outline: none;
    background: transparent;
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    color: $form-primary-color;
    font-size: 16px;
    /*Pointer Event allows input field to be clicked through the label*/
    pointer-events: none;
    transition: 0.5s;
  }

  input:focus ~ label,
  textarea:focus ~ label,
  input:valid ~ label,
  textarea:valid ~ label {
    top: -18px;
    left: 0;
    font-size: 12px;
    color: $form-secondary-color;
    outline: none;
    border: none;
  }
}
/*Removes annoying red outline if no text input*/
input:invalid,
textarea:invalid {
  box-shadow: none;
}

.testimonials--container {
  width: $form-width;
  display: flex;
  flex-direction: column;
}

.testimonial--listitem {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid color(primary);
  border-radius: $form-border-radius;
  margin: 2px 0;
  padding: 15px 5px;

  &-name {
    font-size: 1.3em;
    color: color(accent);
  }

  &-message {
    font-size: 1.4em;
  }

  .testimonial--deletebtn {
    width: 15px;
    height: 15px;
    position: absolute;
    color: #fff;
    border-radius: 50%;
    background: red;
    cursor: pointer;
    top: 5px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 10px;
    }
  }
}

.projects--container {
  width: $form-width;
  display: flex;
  flex-direction: column;

  .project--listitem {
    display: flex;

    img {
      width: 150px;
      height: 100px;
    }
  }
}
