#testimonialsContainer {
  // border: 5px solid red;
  margin: 0 0 10em 0;
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.testimonialList {
  list-style: none;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 500ms ease-in;
}

.testimonialListItem {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

.testimonial {
  text-align: center;
  font-size: 1.5rem;
  color: color(primary);
  margin-bottom: 5px;
}

.author {
  text-align: center;
  color: color(accent);
}

// .currentSlide {
//   background: rgba(199, 38, 38, 0.7);
// }
